# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env

# Mac / system files
.DS_Store

# Colab
*.ipynb~

# API keys or secrets
config.py
secrets.json
